<div style="margin: auto; max-width: 1000px; margin-top:50px">
    <data-table id="films-grid"
  
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadFilms($event)"

        [limit]="limit"
        [sortBy]="'sortBy'"
        [sortAsc]="sortAsc"
        [selectColumn]="selectColumn"
        [multiSelect]="multiSelect"
        [indexColumn]="indexColumn"
        [translations]="translations"
        
        >
        <div *ngFor="let col of cols">
        <data-table-column 
            [property]="col.propery"
            [header]="col.header"
            [sortable]="col.sortable">
        </data-table-column></div>

    </data-table>
    <!-- <div style="margin-top: 10px">
        <b>Selected:</b>
        <div *ngFor="let selected of filmsTable.selectedRows">
            <span [textContent]="selected.item"></span>
        </div>
    </div> -->
</div>